.block {
	border: 15px;
	background-color: bisque;
	border-radius: 20px;
	color: #2cd4cc;
	font-size: 30px;
	font-style: italic;
	min-width: 30%;
	max-width: 30%;
	text-align: center;
}
.btn{
	width: 101px;
	height: 101px;
	background-color: #c42770;
	border-radius: 101px;
}