@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

  /**
    Нормализация блочной модели
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
    */
  :where(ul, ol):where([class]) {
    padding-left: 0;
  }

  /**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
    */
  body,
  :where(blockquote, figure):where([class]) {
    margin: 0;
  }

  /**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
    */
  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
  ):where([class]) {
    margin-block: 0;
  }

  :where(dd[class]) {
    margin-left: 0;
  }

  /**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
    */
  :where(ul[class]) {
    list-style: none;
  }

  /**
    Упрощаем работу с изображениями
    */
  img {
    display: block;
    max-width: 100%;
  }

  /**
    Наследуем свойства шрифт для полей ввода
    */
  input,
  textarea,
  select,
  button {
    font: inherit;
  }

  html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
      */
    height: 100%;
    /**
      Плавный скролл
      */
    scroll-behavior: smooth;
  }

  body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
      */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
      */
    line-height: 1.5;
  }

  /**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
    */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
//








// G L O B A L   V A R I A B L E S
:root{
  --color-light: #FFFFFF;
  --color-dark-grey: #404040;
  --color-light-grey: #C4C4C4;
  --color-dark: #000000;
  --color-dark-alternate: #131619;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body{
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-grey);
  background-color: var(--color-dark);
}

.container{
  max-width: calc(var(--container-width) + var(--container-padding-x)*2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-grey);
}

// H E A D E R

.button{
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: 30px;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--color-light-grey);
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: 90px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: currentColor;


}
.header-action {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-burger-button {
  display: flex;
  align-items: center;
}

.burger-icon:hover {
    fill: var(--color-light-grey);
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
  .header-menu {
    order: 1;
    flex-basis: 100%;
  }
  .header-menu-link {
    height: 50px;
  }
  .header-menu-list{
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .button {
    height: 30px;
    padding-inline: 20px;
  }

  .header{
    padding-top: 10px;
  }
  .header-menu-link {
    height: 32px;
  }
  .header-menu-list{
    justify-content: center;
    column-gap: 24px;
  }
  .header-action {
    column-gap: 10px;
  }
}

// S E C T I O N   C R O S S F I T

.content {
}
.visually-hidden {
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 985px;
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: 30px;
  font-weight: 700;
  line-height: 1,27;
}

.banner-info::before {
  content: '';
  width: 194px;
  aspect-ratio: 1;
  background: url('../icons/bold-arrow-down-right.svg') center/contain no-repeat;
  margin-right: 30px;
}

.banner-title {
  font-size: 360px;
  line-height: 1;
}
.banner-pagination {
}
.banner-pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 14px;
}
.banner-pagination-iten {
  display: flex;
}
.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 7px;
  background-color: transparent;
}

.banner-pagination-button::after {
  content: '';
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
}
.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

// S E C T I O N   S T R O N G

// S E C T I O N   S T A R T

// S E C T I O N   P I C K

// S E C T I O N   B A C K I M A G E

// S E C T I O N   J O I N U S

// S E C T I O N   L O O K M A P

// S E C T I O N   P A R T

// S E C T I O N   F O R M

// F O O T E R