body{
    margin: 30px 0 0 30px;
}

.block {
    margin: 0 0 30px 0;
}

.block p{
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
}

.link {
    color: red;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}

.link:visited {
    color: green;
}

.link:active {
    color: yellow;
}

.textinput {
    border: 1px solid #666;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    width: 300px;
    margin: 0 0 10px 0;
}

.textinput:focus{
    box-shadow: 0 0 20px #66666638;
}

.textbutton {
    display: block;
    width: 300px;
    height: 50px;
    background-color: #469b75;
    font-size: 18px;
    text-transform: uppercase;
}

.textbutton:hover{
    background-color: #333;
    color: yellowgreen;
}

.textbutton:active{
    background-color: #ffffff;
}

.list {

}

.list li{
    font-size: 18px;
    margin: 0 0 15px 0;
}

/* .list li:first-child{
    color: greenyellow;
}

.list li:last-child{
    color: rgb(47, 95, 255);
}

.list li:nth-child(3){
    color: rgb(255, 47, 175);
} */

.list li:nth-child(even){
    text-transform: uppercase;
}