body{
	background-color: rgb(63, 60, 60);
}
.example-block {
	border: 10px solid red;
	border-radius: 50px;
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: oblique;
	text-align: center;
	margin: 1%;
	padding: 1%;
	box-shadow: 5px 5px 30px 15px #000;
	opacity: 0.5;
}

.example-string {
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	visibility: visible;
}
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 700,
	'GRAD' 200,
	'opsz' 48
}

.image-instagram {
	border: 15px #000;
	border-radius: 20px;
	opacity: 0.4;
	height: 100px;
	width: 100px;
}